button,
input[type='submit'] {
	background-color: $main-blue;
	border: none;
	border-radius: 10px;
	color: white;
	cursor: pointer;

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;

	padding: 12px 24px;
}
