@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import './styles/colors.scss';
@import './styles/mixins.scss';

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: $main-blue;

	min-height: 50px;

	@include for-tablet-portrait-up {
		min-height: 100px;
	}
}

.App-title {
	font-size: 24px;
	font-family: 'Roboto Slab', serif;

	@include for-tablet-portrait-up {
		font-size: 48px;
	}
}

.App-link {
	color: cornflowerblue;
}

.App-main {
	flex: 1;
}

.App-footer {
	background-color: $gray;
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	@include for-tablet-portrait-up {
		min-height: 50px;
		.App-copyright {
			font-size: 14px;
		}
	}
}

.App-copyright {
	color: $gray-dark;
	font-size: 10px;
}
