@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import 'styles/colors.scss';

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	min-height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: $main-blue;
}

.App-title {
	font-size: 48px;
	font-family: 'Roboto Slab', serif;
}

.App-link {
	color: cornflowerblue;
}

.App-main {
	flex: 1;
}

.App-footer {
	background-color: $gray;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.App-copyright {
	color: $gray-dark;
	font-size: 14px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
