@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'JetBrains Mono', monospace;
	background: #555;
	color: white;
	border-radius: 5px;
	padding: 0.2rem 0.6rem;
}
