@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import './styles/mixins.scss';
@import './styles/colors.scss';
@import './styles/buttons.scss';

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button {
	&:focus {
		outline: none;
	}
}
