@import '../../styles/colors';
@import '../../styles/mixins';

.Play {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.exercise {
		margin-top: 32px;
		font-size: 77px;
		line-height: 82px;

		display: flex;
		align-items: flex-end;

		color: $blue;

		[class$='-digit'] {
			min-width: 100px;
		}

		.first-digit {
			text-align: right;
		}

		.second-digit {
			text-align: left;
		}

		.sign {
			color: $main-blue;
			font-size: 56px;
			margin: 0 55px;
		}

		@include for-tablet-portrait-up {
			font-size: 144px;
			margin-top: 64px;
			line-height: 171px;

			.sign {
				font-size: 112px;
				margin: 0 110px;
			}
		}
	}

	.equals-sign {
		color: grey;
		font-size: 50px;

		&::before {
			content: '=';
		}
	}
}
